<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Webgl <%= @title %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="../css/defacto.css">
<%= "<link rel=\"stylesheet\" href=\"../css/#{@css}\">" if @css %>
<script src="../js/gl-matrix-2.2.0.js"></script>
</head>
<body>
<%= yield %>

<%= "<script src=\"../js/#{@js}\"></script>" if @js %>
</body>
</html>
